#google {
    text-decoration: none;
    background-color: aquamarine;
    color: blueviolet;
    border-radius: 5px;
    /* border-style: solclass; */
    box-shadow: inset -2px -2px black;
    border-color: black;
    padding: 3px;
    margin: 3px;

}

#google:visited {
    color: orange;
}

#google:hover {
    color: pink;
    box-shadow: 0 0 transparent;
}

#google:active {

    color: coral;
    box-shadow: inset 2px 2px gray;

}

#screen {
    /* background-image: url(./data/wallpaper.png); */
    background-repeat: no-repeat;
    position: relative;

    padding: 10px;
    border-radius: 15px;
    background-size: 5%;
    left: 62px;
    top: 90px;


}

#white {
    background-repeat: no-repeat;
    position: relative;
    opacity: 0.6;
    padding: 10px;
    height: 15;

    background-size: 5%;
    left: -10px;
    top: -450px;

}

#lock {
    /* background-image: url(./data/wallpaper.png); */
    background-repeat: no-repeat;
    position: relative;
    opacity: 100;
    padding: 10px;
    border-radius: 15px;
    background-size: 5%;
    left: -10px;
    top: -1240px;


}



#lock:hover {
    top: 100px;

    opacity: 0;
}

#box {
    height: 140vh;
    width: 90vh;
    margin: calc((100vh - 15vh - 10px * 2) / 2) auto;

    padding: 10px;
    border-radius: 15px;
}

.img-circle {
    width: 10vh;
    height: 10vh;

    background-size: cover;
    border-radius: 20%;
    background-position-x: -25px;
    display: inline-block;
}

.img-facebook {
    background-image: url(facebook.png);
    background-position: center;
}

.img-garena {
    background-image: url(garena.jpg);
    background-position: center;
}

.img-google {
    background-image: url(google.png);
    background-position: center;
}

.img-instagram {
    background-image: url(instagram.jpg);
    background-position: center;
}

.img-jptt {
    background-image: url(jptt.jpg);
    background-position: center;
}

.img-nba {
    background-image: url(nba.png);
    background-position: center;
}

.img-shrimp {
    background-image: url(shrimp.jpg);
    background-position: center;
    width: 100;
}

.img-messenger {
    background-image: url(messenger.jpg);
    background-position: center;
    width: 100;
}

.img-tft {
    background-image: url(welcome.jpg);
    background-position: center;
}

.img-line {
    background-image: url(line.jpg);
    background-position: center;
}

.img-youtube {
    background-image: url(youtube.jpg);
    background-position: center;
}

.img-setting {
    background-image: url(setting.png);
    background-position: center;
}

.img-camera {
    background-image: url(carema.jpg);
    background-position: center;
}


.separate {
    display: inline-block;
    width: 12px;
}

.link {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 20%;
}

#row1 {
    height: 10vh;
    width: 70vh;

    position: relative;
    top: -650px;
    left: 5px;
    background-position: center;
    padding: 5px;
    border-radius: 15px;
}

#row2 {
    height: 10vh;
    width: 70vh;

    position: relative;
    top: -650px;
    left: 5px;
    background-position: center;
    padding: 5px;
    border-radius: 15px;
}

#row3 {
    height: 10vh;
    width: 70vh;

    position: relative;
    top: -635px;
    left: 5px;
    background-position: center;
    padding: 5px;
    border-radius: 15px;
}



#row4 {
    height: 10vh;
    width: 70vh;

    position: relative;
    top: -560px;
    left: 5px;
    background-position: center;
    padding: 5px;
    border-radius: 15px;
}

#n1 {
    top: -655px;
    width: 210px;
    position: relative;
    left: 7px;

    /* width: 25%; */
    /* border-spacing: 20 px 20 px; */
}

#n2 {
    top: -655px;
    width: 210px;
    position: relative;
    left: 7px;

}

#n3 {
    top: -640px;
    width: 210px;
    position: relative;
    left: 7px;

}



.name {
    color: white;
    font-size: large;
    font-style: initial;
}